.wrapperDecsriptionFirstBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-top: 3%;
}
.containerDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  justify-self: center;
  justify-content: space-around;
}
.nameOfCompany {
  display: flex;
  align-self: center;
  order: 1;
  color: var(--colormaintext);
  font-size: 60px;
  text-align: center;
  text-wrap: auto;
  /* font-family: Montserrat Alternates; */
}

.wrapperDescriptionAndMainImage {
  display: flex;
  justify-content: center;
  order: 2;
  margin-top: 5%;
  flex-wrap: wrap;
}

.ImageDescription {
}
.descriptionShortContainerwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.descriptionShortContainer {
  width: 95%;
  max-width: 480px;
  padding: 20px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 0px solid #000;
  border-radius: 16px 16px 0px 20px;
  position: relative;
  font-family: "Inter", sans-serif;
  background: transparent;
}

/* "вырез" внизу справа */
.descriptionShortContainer:after {
  content: "";
  position: absolute;
  right: 0px; /* компенсация толщины border-right */
  bottom: -3px; /* компенсация толщины border-bottom */
  width: 50px;
  height: 53px;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 0px;
  transform: rotate(180deg);
  top: 100%;
}

.vertical-line {
  display: inline-block;
  width: 1px;
  height: 55px;
  background: #000;
  position: absolute;
  bottom: -55px; /* привязка к низу */
  right: -1px;
}

.thin-line {
  display: block;
  width: calc(100% - 40px - 20px); /* 100% минус ширина выреза и отступ */
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0px; /* привязка к низу */
  left: 16px;
  top: 100%;
}

.decsripticontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.decsripticontainerin {
  display: flex;
  flex-direction: row;
  min-width: 110px;
  max-width: 210px;
}
.imageDescriptionSettings {
  width: 20px;
  height: 20px;
  display: flex;
  align-self: center;
}
.mainDescriptionSettings {
  margin-left: 5px;
  color: var(--colormaintext);
  font-weight: 600;
  font-size: 32px;
}
.otherDescriptionSettings {
  color: var(--colormaintext);
  font-weight: 600;
  font-size: 18px;
  margin-left: 40%;
}
.buttonsCallcontainer {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  justify-content: center;
}
.callMaintanace {
  margin: 0 10px;
  border-radius: 30px;
  background-color: var(--colorbutton);
  background-color: var(--colorbuttonpallete);
  font-size: 20px;
  font-weight: 100;
  width: 180px;
  height: 70px;
  border-style: dashed;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}
.callMaintanace:hover {
  cursor: pointer;
  /* background-color: var(--standardgreencolor); */
  background-color: var(--colorbuttonpalletehover);
  transition: background-color 0.3s ease-in;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapperDescriptionAndMainImage {
    margin-top: 1%;
  }
  .descriptionShortContainer {
    width: auto;
    max-width: none;
  }
}
@media screen and (min-width: 360px) and (max-width: 680px) {
  .nameOfCompany {
    font-size: 40px;
  }
}
