.wrapper-section-second {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  flex-direction: column;
  width: 100%;
  align-content: center;
}
.container-section-second {
  min-width: 45%;
}
.container-description-general {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.wrapper-second-block {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.container-description-children {
  width: 95%;
  max-width: 400px;
  padding: 5px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 16px 16px 16px 16px;
  position: relative;
  font-family: "Inter", sans-serif;
  background: transparent;
  align-self: center;
  margin-bottom: 50px;
  margin: 5px 5px 5px 5px;
}
.container-description-children p {
  margin-left: 0px;
}

.arrow-right {
  margin: 5px 5px 5px 5px;
  position: relative;
  width: 60px;
  height: 8px;
  background: #333;
  border-radius: 4px;
}

.arrow-right::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  border-top: 8px solid #333;
  border-right: 8px solid #333;
  transform: translateY(-50%) rotate(45deg);
  border-radius: 2px;
}
@media (max-width: 1600px) {
  .wrapper-second-block {
    flex-direction: column;
  }
  .container-section-second {
    max-width: 75%;
    min-width: 65%;
    align-self: center;
  }
  .imgdessett {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .arrow-right {
    width: 30px;
    height: 5px;
  }
  .arrow-right::after {
    width: 13px;
    height: 13px;
    border-top: 5px solid #333;
    border-right: 5px solid #333;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 2px;
  }
}
@media (max-width: 480px) {
  .arrow-right {
    width: 30px;
    height: 5px;
  }
  .arrow-right::after {
    width: 13px;
    height: 13px;
    border-top: 5px solid #333;
    border-right: 5px solid #333;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 2px;
  }
}
