.wrapper-section-second {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  flex-direction: column;
  width: 100%;
}
.container-section-second {
}
.container-description-general {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
}
.container-description-children {
  width: 95%;
  max-width: 400px;
  padding: 5px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 16px 16px 16px 16px;
  position: relative;
  font-family: "Inter", sans-serif;
  background: transparent;
  align-self: center;
  margin-bottom: 50px;
  margin: 5px 5px 5px 5px;
}
.container-description-children p {
  margin-left: 0px;
}
