.third-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 3%;
  /* border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  box-shadow: 2px 2px 22px 2px rgba(0, 0, 0, 0.35); */
}
.third-block__header {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-self: center;
  height: auto;
  flex-direction: column;
}
.third-block__title {
  display: block;
  color: var(--colormaintext);
  font-size: clamp(4rem, 1.5vw, 2rem);
  text-align: center;
  word-wrap: break-word; /* перенос длинных слов */
  overflow-wrap: break-word; /* современный аналог */
  line-height: 1.1;
  margin: 0 auto;
  max-width: 90%; /* ограничивает ширину, чтобы текст переносился */
}
@media (max-width: 500px) {
  .third-block__title {
    font-size: 28px;
  }
}
/* .third-block__subtitle {
  color: var(--colormaintext);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
} */
.third-block__content {
  display: flex;
  flex-direction: row;
}
.third-block__description__container {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 22px 22px 22px 22px;
  padding: 40px;
  width: 700px;
  /* min-width: 60%; */
  margin-top: 5%;
  height: fit-content;
  order: 1;
}
.third-block__description__wrapper__children {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.third-block__title__children {
  margin-left: 5px;
  color: var(--colormaintext);
  font-weight: 600;
  font-size: 26px;

  text-wrap: nowrap;
}
.third-block__subtitle__children {
  color: var(--colormaintext);
  font-weight: 500;
  font-size: 20px;
  text-wrap: nowrap;
  align-self: center;
  margin-left: 0%;
  margin-top: 6%;
}

/* адаптивное уменьшение шрифта на маленьких экранах */
@media (max-width: 768px) {
  .third-block__title {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .third-block__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 200px) and (max-width: 500px) {
  .third-block__title__children {
    font-size: 20px;
    margin-left: 5px;
    text-align: center;
  }

  /* Заголовки и текст */
  .third-block__title {
    font-size: 28px;
    margin-left: 5px;
    text-align: center;
  }

  .third-block__subtitle {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 8px auto 0 auto;
    line-height: 1.3;
    max-width: 95%;
  }
}
.third-block__images__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 600px;
  position: relative;
  z-index: 0;
}
.layer__one {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 10%;
  background-image: url("../images//filmstripLayersAndImages/layerfirstunder.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}
.layer-second__wrapper {
  z-index: 2;
}
.layer-second__layer {
  width: 500px;
  padding: 10%;
  background-image: url("../images//filmstripLayersAndImages//mainimageBackground.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}
.layer-second__layer__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .third-block__description__wrapper__children {
    flex-direction: column;
  }
  .third-block__subtitle__children {
    text-wrap: wrap;
    align-self: unset;
    margin-top: 0px;
    margin-left: 0px;
    margin-left: 20px;
  }
  .third-block__description__container {
    width: auto;
  }
  .third-block {
    width: 100%;
    justify-content: space-between;
  }
  .third-block__content {
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 200px) and (max-width: 1100px) {
  .third-block__images__wrapper {
    width: fit-content;
  }
  .layer__one {
    width: 400px;
    height: 400px;
    top: 18%;
    right: 5%;
  }
  .layer-second__wrapper {
    z-index: 2;
  }
  .layer-second__layer {
    width: 400px;
  }
}
@media screen and (min-width: 168px) and (max-width: 905px) {
  .third-block__content {
    flex-direction: column;
  }
  .third-block__description__container {
    order: 0;
  }
  .third-block__images__wrapper {
    width: fit-content;
    margin-top: 5%;
    align-self: center;
  }
  .layer__one {
    width: 400px;
    height: 400px;
    top: -13%;
    right: 5%;
  }
  .layer-second__wrapper {
    z-index: 2;
  }
  .layer-second__layer {
    width: 400px;
  }
  .third-block__description__wrapper__children {
    flex-direction: column;
  }
  .third-block__subtitle__children {
    text-wrap: wrap;
    align-self: unset;
    margin-top: 0px;
    margin-left: 0px;
    margin-left: 20px;
  }
  .third-block__description__container {
    width: auto;
  }
  .third-block {
    width: 100%;
    justify-content: space-between;
  }
  .third-block__content {
    width: 100%;
    justify-content: space-around;
  }
  .third-block__description__container {
    width: auto;
    margin: 3%;
  }
}
@media screen and (min-width: 200px) and (max-width: 500px) {
  .third-block__subtitle__children {
    font-size: 15px;
  }
  .third-block__title__children {
    font-size: 24px;
  }
}
/* @media screen and (min-width: 520px) and (max-width: 905px) {
.third-block__description__container {}
} */
@media screen and (min-width: 200px) and (max-width: 500px) {
  .third-block__description__container {
    padding: 10px;
  }
}
